@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 204, 214, 246;
  --background-rgb: 10, 25, 47;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}